<div ng-app="mapApp" ng-controller="MapCtrl">
    <style type="text/css">
        #map-canvas {
            width: 100%;
            background: #000;
            min-height: 200px;
            height:100%;
        }

        .container {
            height: 100%;
        }

        .labels {
            color: red;
            background-color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            width: 20px;
            border: 1px solid black;
            white-space: nowrap;
        }
    </style>
    <div class="row"><div class="col-md-12"><h1>Log</h1></div></div>
    <div class="row"><div class="col-md-12"><p>Tap the map to log events.</p></div></div>
    <div class="row">
        <div class="col-md-6"><div id="map-canvas"></div></div>
        <div class="col-md-6">
            <form>
                <div ng-repeat="marker in markers" ng-if="markers">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" name="pos[{[{marker.labelContent}]}]" value="{[{marker.position.k}]},{[{marker.position.D}]}"/>
                                <button class="btn btn-default btn-xs pull-right" ng-click="removeMarker(marker)"><i class="glyphicon glyphicon-remove"></i></button>
                                <label for="type[{[{marker.labelContent}]}]">Marker {[{marker.labelContent}]}</label>
                                    <select id="type[{[{marker.labelContent}]}]" class="form-control" name="type[{[{marker.labelContent}]}]">
                                        <option value="D">D &mdash; drug use, sales, paraphenalia</option>
                                        <option value="E">E &mdash; fighting, bullying, yelling, public disturbance</option>
                                        <option value="H">H &mdash; harassment, cat-calling, sexual solicitations</option>
                                        <option value="L">L &mdash; loitering, individual blocking sidewalk, please include # of people</option>
                                        <option value="P">P &mdash; feces, urine, vomit</option>
                                        <option value="V">V &mdash; violence, weapons, threat of violence</option>
                                        <option value="T">T &mdash; traffic violations or unsafe driving</option>
                                        <option value="X">X &mdash; police presence or activity</option>
                                        <option value="O">O &mdash; other, please add comment</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ta[{[{marker.labelContent}]}]">Comment</label>
                                <textarea id="ta[{[{marker.labelContent}]}]" name="comment[{[{marker.labelContent}]}]" class="form-control" placeholder="Any relevant information, including number of people involved"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col-md-12"><hr/></div></div>

                <div class="form-group">
                    <label for="contact">Name/Email</label>
                    <input type="email" class="form-control" id="contact" placeholder="Enter email/name">
                </div>

                <div class="form-group">
                    <label for="conditions">Weather/Notable Conditions</label>
                    <input type="text" class="form-control" id="conditions">
                </div>

                <div class="form-group">
                    <label for="date">Date &amp; Time</label>
                    <input type="datetime-local" class="form-control" id="date" value="{{date}}">
                </div>

                <div class="form-group">
                    <label for="start">Starting Point</label>
                    <input type="text" class="form-control" id="start">
                </div>

                <div class="form-group">
                    <label for="end">Ending Point</label>
                    <input type="text" class="form-control" id="end">
                </div>
            </form>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed&key={{key}}"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>
    <script src="static/map.js"></script>
</div>
