<div ng-app="mapApp" ng-controller="MapCtrl">
    <style type="text/css">
        #map-canvas {
            width: 100%;
            background: #000;
            min-height: 200px;
            height:100%;
        }

        .container {
            height: 100%;
        }

        .labels {
            color: red;
            background-color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            width: 20px;
            border: 1px solid black;
            white-space: nowrap;
        }

        form .ng-invalid-required {
            border: 1px solid red;
        }

        div.msgSurround {
            display: none;
            padding: 15px;
            margin-bottom: 10px;
        }

    </style>
    <div class="row"><div class="col-md-12"><h1>Log</h1></div></div>
    <div class="row"><div class="col-md-12">
        <p>Tap the map to log events. Inputs marked with * are required.</p>
        <div class="msgSurround {[{messageClass}]}"><p class="msg">{[{message}]}</p></div>
    </div></div>
    <div class="row">
        <form ng-submit="submit()">
            <div class="col-md-6">
                <div id="map-canvas"></div><br/>
                <div ng-repeat="marker in markers" ng-if="markers.length">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-default btn-xs pull-right" ng-click="removeMarker(marker)"><i class="glyphicon glyphicon-remove"></i></button>
                                <label for="type[{[{marker.labelContent}]}]">Marker {[{marker.labelContent}]} Type*</label>
                                    <select id="type[{[{marker.labelContent}]}]" class="form-control" ng-model="marker.type" required="required">
                                        <option value="">Type</option>
                                        <option value="D">D &mdash; drug use, sales, paraphenalia</option>
                                        <option value="E">E &mdash; fighting, bullying, yelling, public disturbance</option>
                                        <option value="H">H &mdash; harassment, cat-calling, sexual solicitations</option>
                                        <option value="L">L &mdash; loitering, individual blocking sidewalk, please include # of people</option>
                                        <option value="P">P &mdash; feces, urine, vomit</option>
                                        <option value="V">V &mdash; violence, weapons, threat of violence</option>
                                        <option value="T">T &mdash; traffic violations or unsafe driving</option>
                                        <option value="X">X &mdash; police presence or activity</option>
                                        <option value="O">O &mdash; other, please add comment</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ta[{[{marker.labelContent}]}]">Comment</label>
                                <textarea id="ta[{[{marker.labelContent}]}]" ng-model="model.comment" class="form-control" placeholder="Any relevant information, including number of people involved"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-12"><hr/></div></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contact">Email*</label>
                    <input type="email" class="form-control" id="contact" placeholder="Enter email/name" ng-model="email" required="required" autocomplete="on"/>
                </div>

                <div class="form-group">
                    <label for="date">Date &amp; Time*</label>
                    <input type="datetime" class="form-control" id="date" ng-model="date" required="required">
                </div>

                <div class="form-group">
                    <label for="conditions">Weather/Notable Conditions</label>
                    <input type="text" class="form-control" id="conditions" ng-model="conditions">
                </div>

                <div class="form-group">
                    <label for="start">Starting Point</label>
                    <input type="text" class="form-control" id="start" ng-model="start">
                </div>

                <div class="form-group">
                    <label for="end">Ending Point</label>
                    <input type="text" class="form-control" id="end" ng-model="end">
                </div>

                <div class="form-group">
                    <p class="help-block" ng-if="getValidationMessages()">{[{getValidationMessages()}]}</p>
                    <input type="submit" value="Submit!" class="btn {[{submitClass()}]}"/>
                </div>

            </div>
        </form>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed&key={{key}}"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>
    <script src="static/map.js"></script>
</div>
